@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set base font */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f0f0f; /* Or whatever your desired dark background is */
  color: #fff; /* Default text color */
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

/* Optional: anchor styles */
a {
  @apply text-red-400 hover:text-red-500 transition-colors;
}

@layer utilities {
  .animate-marquee {
    animation: marquee var(--duration, 40s) linear infinite;
  }
  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration, 40s) linear infinite;
  }
}
